@model PagedMediaRecords
@{
    ViewData["Title"] = "Search results";
}

<h1>Search Results</h1>

@{
    ViewData["ActionName"] = "SearchResults";
}

<partial name="_PaginationPartial" view-data="ViewData">

    @foreach (var item in Model.MediaRecords)
    {
        <partial name="_MediaRecordCard" model="item" />
    }


