@model PagedMediaResources
@{
    ViewData["Title"] = "SearchResults";
}

<h1>Search Results</h1>

<partial name="_PaginationPartial" />

@foreach (var item in Model.MediaResources)
{
    <partial name="_MediaResourceCard" model="item" />
}


