@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="row">
            <div class="col col-lg-9">
                <div class="text-center">
                    <p>Leodis - a photographic archive of Leeds.</p><br />
                    <p>A project delivered by Leeds Library & Information Service. All images are © Leeds Library & Information Service unless otherwise specified.</p><br />
                    <p>Image by Louis Le Prince. It is claimed Le Prince filmed the first ever moving images on Leeds Bridge in 1888. See Le Prince's camera</p><br />
                    <p>
                        Leodis Collections Take a look at our collections of images linked to maps.
                    </p><br />
                </div>
            </div>
            <div class="col col-lg-3">
                <div>
                    <a class="btn btn-success" asp-area="" asp-controller="MediaResources" asp-action="SearchResults">Pretend you've searched for media resources</a>
                </div>
            </div>
        </div>
    </div>


    
