@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col col-lg-4">
            <img src="~/images/bigfan.gif" alt="Examples of the playbills available from the collection in the Local Studies Library" />
        </div>
        <div class="col col-lg-8">
            <div class="text-center">
                <h3>The Playbills site</h3>
                <p>The Leeds Playbills site is part of the Leodis digitisation project funded by the New Opportunities Fund.</p>
                <h3>What is available?</h3>
                <p>This site is making available all the playbills in the Local Studies Library collection from a wide range of Leeds Theatres such as The City Varieties, The Grand, The Princess and the Theatre Royal. The site provides a unique insight into theatre life in Leeds between 1781 and the 1990's. The site also contains some circus bills, such as those from Pablo Fanque's Circus.</p>
                <h3>Copyright</h3>
                <p>All images are under copyright and cannot be reproduced without permission.</p>
                <h3>Leodis</h3>
                <p>The photographic archive of Leodis is available by clicking on the link on any page or at www.leodis.net</p>
            </div>
        </div>
    </div>
</div>



